Babel==2.3.4
Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.1.3
Sphinx==1.4.1
Werkzeug==0.11.8
alabaster==0.7.7
argparse==1.2.1
boto3==1.3.0
botocore==1.4.12
docutils==0.12
futures==3.0.5
imagesize==0.7.1
itsdangerous==0.24
jmespath==0.9.0
python-dateutil==2.5.2
pytz==2016.4
six==1.10.0
snowballstemmer==1.2.1
wsgiref==0.1.2
